body {
  margin: 0px;
}

.mobile-container {
  font-family: "lato", sans-serif;
  max-width: 480px;
  font-size:1.1rem;
  margin: auto;
  background-color: #fcfcfc;;
  height: 500px;
  color: black;

}

.topnav {
  overflow: hidden;
  background-color: #f2d7d7;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #f26387;
  display: block;
  position: absolute;
  right: 10px;
  top: 7px;
}

.topnav a:hover {
  background-color: #fcfcfc;
  color: black;
}

.active {
  background-color: #f26387;
  color: white;
}

.logo{
}

.logo-img {
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 20px;
}

hr{
  margin: 0em;
  background-color: white;
  margin-bottom: 0.5em;
  border-width: 1px;
}