.body{
	max-width: 80rem;
	margin: 0 auto;
	width: 100%;
	flex-direction: column;
}

.title{
	font-weight: bold;
	font-family: "lato", serif;
	font-size:1.5rem;
	color: #f26378;
	margin-top: 0px;
	text-align: center;
	padding-top: 1.5rem;

}

.list{
	font-family: "literata", sans-serif;
	font-size:1.1rem;
	color: #0d0d0d;
	margin-left: 2rem;
	max-width: 50rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	align-items: center;
	padding: 2rem;
	padding-left: 1rem;
}

.editar{
	margin-top: 200px;
	margin-left: 10px;
	font-size:2rem;
	font-family: "literata", serif;
	color: #0d0d0d;
	background-color: #f26387;
	height: 3rem;
	width: 90%;
	margin-bottom: 5%;
	text-align: center;
	top: 75%;
	left: 15%;
	border-radius: 39px;
}

.finalizar{
	margin-top: 20px;
	margin-left: 10px;
	font-size:2rem;
	font-family: "literata", serif;
	color: #0d0d0d;
	background-color: #f26387;
	height: 3rem;
	width: 90%;
	margin-bottom: 5%;
	text-align: center;
	top: 75%;
	left: 15%;
	border-radius: 39px;
}