.corpo-lista-favorita{
    margin: 30px;
    font-family: "lato", sans-serif;
}

.title {
    text-align: center;
}

.title h2{
    padding-top: 10px;
    text-align: center;
    font-family: "literata", "serif";
    font-weight: bold;
    font-size: 20px;
}

.column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .sidemenu {
    width: 91%;
  }
  
  .sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidemenu li a {
    margin-bottom: 7px;
    display: block;
    padding: 26px;
    background-color: #F2A0A7;
    text-decoration: none;
    color: #0d0d0d;
    text-align: center;
    font-weight: bold;
    font-family: "lato", "sans-serif";
    border-radius: 15px;
  }
  
  .sidemenu li a:hover {
    background-color: #f2d7d7;
    color: #0d0d0d;
  }
  
  .sidemenu li a.active {
    background-color: #F2A0A7;
    color: #0d0d0d;
  }

.sidemenu li a.active:hover{
    background-color: #f2d7d7;
    color: #0d0d0d;
}