.title, .caixa{
	font-family: "literata", serif;
	font-size: 2rem; 
	text-align: center;

}

.caixa{
	position: relative;
	border-style: solid;
	border-width: 2px; 
  	max-width: 480px;
	padding: 5px;
}
.caixa2{
	font-family: "literata", serif;
	position: relative;
	font-size: 2rem;
	text-align: center;
	border-style: solid;
	border-width: 2px; 
	border-top-width:0px;
  	max-width: 480px;
	padding: 5px;
}
.tem,.ntem {
	width: 20px;
	height: 10px;
	border: 1px;
	padding: 1px;
	border-style: solid;
}
.tem_pos{
	width: 20px;
	height: 10px;
	border: 0px;
	padding: 1px;
	border-style: solid;

}

.ul{
	max-width: 480px;
	height: 500px;	
}
.li{
	font-family: "lato", sans-serif;
	font-size: 1.1rem;
	margin: 10px 5px;
	text-align: left;
	display: inline-block;
}

.afterClick{
	font-family: "lato", sans-serif;
	font-size: 1.1rem;
	margin: 10px 5px;
	text-align: left;
	display: inline-block;
	color: gray;

}