.lista-main{
	background-color: #f2d7d7;
	flex-wrap: wrap;
	justify-content: center;
	height: 50rem;

}

.lista{
	font-weight: bold;
	font-family: "literata", serif;
	font-size:3rem;
	color: #f26378;
	justify-content: center;
	margin-left: 2rem;
	

}


.itens{
	font-family: "lato", sans-serif;
	font-size:1.1rem;
	color: #0d0d0d;
	margin-left: 0rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 20rem;
	margin-left: 2rem;
	margin-top: 2rem;
	background-color: #f2d7d7;
	height: 500px;
	color: black;


}


.busca{
	display: inline-block;
	overflow: hidden;
  	background-color: #fcfcfc;
  	position: relative;
  	margin-top: 2rem;
}

.ok{
	display: inline-block;
	width: 25px;
	height:15px;
	border: 2px;
	padding: 1px;
	border-style: solid;
	font-family: "lato", sans-serif;
	font-size: 1rem;
	color: #f26378;
	text-align: center;
	background-color: white;
}

.finalizar{
	background-color: #ffff38;
	flex-wrap: wrap;
	font-size:2.7rem;
	justify-content: center;
	font-family: "literata", serif;
	height: 50px;
	margin-top: 167px;

	
}

