
.lista-main{
	background-color: #f2d7d7;
	flex-wrap: wrap;
	justify-content: center;

}

.lista{
	font-weight: bold;
	font-family: "literata", serif;
	font-size:2.5rem;
	color: #f26378;
	justify-content: center;
	margin-left: 2rem;
	




}


.itens{
	font-family: "lato", sans-serif;
	font-size:1.1rem;
	color: #0d0d0d;
	margin-left: 0rem;
	
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 20rem;
	margin: 2rem;

}

.finalizar{
	background-color: #ffff38;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "literata", serif;
}


